.andromeda-bg {
  background: url("https://media.istockphoto.com/photos/mountains-at-night-with-milky-way-galaxy-picture-id507253524?b=1&k=20&m=507253524&s=170667a&w=0&h=YQhHBze27jFtq7Pqn8sc8bYaEyCQI2vcC1BlBOwzPnc=");
  width: 100%;
  height: 93vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}

.strype-btn {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.button {
  display: flex;
  position: absolute;
  right: 5%;
  bottom: 18%;
}

.card {
  background: transparent;
  max-width: 700px;
  border: none;
  margin: 30px;
  color: white;
  font-size: 20px;
}

.card-title {
  font-size: 25px;
  padding: 0;
}

.andromeda-img {
  width: 540px;
  position: absolute;
  left: 10%;
}

.a-galaxy {
  width: 400px;
  padding-left: 45px;
}

.card-body {
  font-size: 18px;
}

@media (max-width: 768px) {
  .card-body {
    font-size: smaller;
  }
  .a-galaxy .card-title {
    font-size: 20px;
  }
}
